/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea

ext/ai-admin-jqadm
ext/ai-admin-jsonadm
ext/ai-client-html
ext/ai-client-jsonapi
ext/ai-controller-frontend
ext/ai-controller-jobs
ext/ai-gettext
ext/ai-laravel
ext/ai-sites
ext/ai-swiftmailer
ext/ai-payments

public/files
public/preview
